{% trans_default_domain 'messages' %}

<table class="parameters_table odx1_table">
    <thead>
    {% if copy is defined %}
        <th><input type="checkbox" name="copy_all"></th>
    {% endif %}
    <th>{{ 'configuration.partials.view.odx1.twig.viewParameters.ord' | trans }}</th>
    <th>{{ 'configuration.partials.view.odx1.twig.viewParameters.name' | trans }}</th>
    {% if not odxSts02 %}
        <th>{{ 'configuration.partials.view.odx1.twig.viewParameters.odx_v.02' | trans }}</th>
    {% endif %}
    <th>{{ 'configuration.partials.view.odx1.twig.viewParameters.rwc' | trans }}</th>
    <th>{{ 'configuration.partials.view.odx1.twig.viewParameters.type' | trans }}</th>
    <th>{{ 'configuration.partials.view.odx1.twig.viewParameters.unit' | trans }}</th>
    <th>{{ 'configuration.partials.view.odx1.twig.viewParameters.value' | trans }}</th>
    <th>{{ 'configuration.partials.view.odx1.twig.viewParameters.defaultType' | trans }}</th>
    </thead>
    <tbody>
    {% if swParameters is defined %}
        {% for id,parameter in swParameters %}
            <tr>
                <td>
                    {{ parameter.order | orderForReservedParameter(parameter.order) }}
                </td>
                <td>
                    {{ parameter.name }}
                </td>
                {% if not odxSts02 %}
                    <td class="centerColumn">
                        {{ (parameter.odx2)?
                        ('<span class="odx_yes">' ~ ('configuration.partials.view.odx1.twig.viewParameters.yes' | trans) ~ '</span>') | raw
                        : ('<span class="odx_no">' ~ ('configuration.partials.view.odx1.twig.viewParameters.no' | trans) ~ '</span>') | raw  }}
                    </td>
                {% endif %}
                <td>
                    {{ (parameter.read)? ('configuration.partials.view.odx1.twig.viewParameters.r' | trans) : '' }}
                    {{ (parameter.write)? ('configuration.partials.view.odx1.twig.viewParameters.w' | trans) : '' }}
                    {{ (parameter.confirm)? ('configuration.partials.view.odx1.twig.viewParameters.c' | trans) : '' }}
                </td>
                <td>
                    {{ parameter.variableType }}
                </td>
                <td>
                    {{ parameter.unit }}
                </td>
                <td>
                    {% if parameter.valueString is not null %}
                        {{ (parameter.valueString == '') ? '' : parameter.valueString }}
                    {% elseif parameter.valueInteger is not null %}
                        {{ parameter.valueInteger }}
                    {% elseif parameter.valueUnsigned is not null %}
                        {{ parameter.valueUnsigned }}
                    {% elseif parameter.linkedValueName is not null %}
                        {{ parameter.linkedValueName }}
                    {% elseif parameter.variableType == 'bool' %}
                        {{ (parameter.valueBool) ? ('ecu.sw.partials.view.odx2.twig.viewParameters.trueTxt' | trans) :
                        ('ecu.sw.partials.view.odx2.twig.viewParameters.falseTxt' | trans) }}
                    {% endif %}
                </td>
                <td>
                    {{ parameter.linkingType }}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>