{% block body %}

    <div>
        <h2>{{ 'vehicles.configuration.partials.descrptionOutOfKey.twig.subConfReleaseState' | trans }}</h2>
        <table class="{{  parameters.historyEvent | historyEventClass }}">
            <thead>
                <tr>
                    <th>{{ 'vehicles.configuration.partials.descrptionOutOfKey.twig.releaseState' | trans }}</th>
                    <th>{{ 'vehicles.configuration.partials.descrptionOutOfKey.twig.releasedByUser' | trans }}</th>
                    <th>{{ 'vehicles.configuration.partials.descrptionOutOfKey.twig.releasedDate' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                {{ parameters.releaseState
                | historyValueTd([], [], [], [], null, historyModel.releaseStates, []) }}
                {{ parameters.releasedByUser
                | historyValueTd([], [], [], [], null, historyModel.users, []) }}
                {{ parameters.releaseDate | historyValueTd  }}
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}