{% trans_default_domain 'messages' %}

{% block Odx2ParameterCollectionType_widget %}
    {# form_row would write extra markup, so we directly write the collection #}
    {{ form_widget(form.parameters) }}
{% endblock %}

{# By default, collection uses the form_widget block to create its markup, but we want a table #}
{% block collection_widget %}
    {% spaceless %}
        {#
         # This is almost a copy/paste of jquery.collection.html.twig, we can't use it as it also
         # use form_widget. Note that we also use form_widget(prototype) instead of form_row(prototype)
         # to avoid generating extra markup.
         #}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_widget(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}

        {# Don't forget to add the collection attributes in your markup #}
        <table {{ block('widget_attributes') }}>
            <thead>
            <th class="odxSts02"></th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.active' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.name' | trans }}</th>
            {% if form[0] is defined and not form[0].odxSts02.vars.value %}
                <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.odx' | trans }}</th>
            {%  endif %}
            <th class="protocol">{{ 'ecu.sw.partials.form.odx2.twig.formTheme.protocol' | trans }}</th>
            <th class="udsId">{{ 'ecu.sw.partials.form.odx2.twig.formTheme.uds' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.rwc' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.type' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.coding' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.bigEndian' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.bytes' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.factor' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.offset' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.unit' | trans }}</th>
            <th class="value">{{ 'ecu.sw.partials.form.odx2.twig.formTheme.value' | trans }}</th>
            <th id="global" style="display: none">{{ 'ecu.sw.partials.form.odx2.twig.formTheme.global' | trans }}</th>
            <th id="dynamic" style="display: none">{{ 'ecu.sw.partials.form.odx2.twig.formTheme.dynamic' | trans }}</th>
            {#            <th id="coc" style="display: none">{{ 'ecu.sw.partials.form.odx2.twig.formTheme.coc' | trans }}</th>#}
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.default' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.start' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.stop' | trans }}</th>
            <th>{{ 'ecu.sw.partials.form.odx2.twig.formTheme.actions' | trans }}</th>
            </thead>
            <tbody>
            {#
             # we can't form_widget(form) as it would render parent markup for a collection, so
             # we iterate manually on children
             #}
            {% for item in form %}
                {{ form_widget(item) }}
            {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock %}

{% block Odx2ParameterType_widget %}
    {# widget_attributes will generate class="item" from the DiscountCollectionType.entry_options configuration #}
    {% set nonAddableParameters =
        [
            constant('App\\Enum\\Entity\\EcuSwParameterTypes::ECU_PARAMETER_TYPE_HW'),
            constant('App\\Enum\\Entity\\EcuSwParameterTypes::ECU_PARAMETER_TYPE_SW'),
        ]
    %}
    {% set nonRemovableParameters =
        [
            constant('App\\Enum\\Entity\\EcuSwParameterTypes::ECU_PARAMETER_TYPE_HW'),
            constant('App\\Enum\\Entity\\EcuSwParameterTypes::ECU_PARAMETER_TYPE_SW'),
            constant('App\\Enum\\Entity\\EcuSwParameterTypes::ECU_PARAMETER_TYPE_SERIAL'),
        ]
    %}
    <tr class="parameter" {{ block('widget_attributes') }}>
        {{ form_widget(form.nameId) }}
        {{ form_widget(form.parameterId) }}
        {{ form_widget(form.type) }}
        {{ form_widget(form.headerProtocol) }}
        <td class="odxSts02">
            {{ form_widget(form.odxSts02) }}
        </td>
        <td class="centerColumn">{{ form_widget(form.activated) }}</td>
        <td class="centerColumnExtra">
            {{ form_widget(form.name) }}
            {% if form.serialState is defined %}
                {{ form_widget(form.serialState) }}
            {% endif %}
        </td>
        {% if not form.odxSts02.vars.value %}
            <td class="centerColumn odx">
                {{ form_widget(form.odx1) }}
                {% if form.odx1.vars.value == 1 %}
                <span class="odx_yes">{{ 'ecu.sw.partials.form.odx2.twig.formTheme.yes' | trans }}</span>
                {% else %}
                <span class="odx_no">{{ 'ecu.sw.partials.form.odx2.twig.formTheme.no' | trans }}</span>
                {% endif %}
            </td>
        {% endif %}

        <td class="protocolValue">
                {{ form_widget(form.protocol) }}
        </td>
        <td class="udsIdValue">{{ form_widget(form.udsId) }}</td>
        <td class="rights">
            {{ form_widget(form.read) }}
            {% if form.write is defined %}
                {{ form_widget(form.write) }}
            {% endif %}
            {% if form.confirm is defined %}
                {{ form_widget(form.confirm) }}
            {% endif %}
        </td>
        <td class="variableType">{{ form_widget(form.variableType) }}</td>
        <td>{{ form_widget(form.coding) }}</td>
        <td class="centerColumn bigEndian">{{ form_widget(form.bigEndian) }}</td>
        <td>{{ form_widget(form.bytes) }}</td>
        <td>{% if form.factor is defined %}
                {{ form_widget(form.factor, {'attr':{'style':'width: 50px'}}) }}
            {% endif %}
        </td>
        <td>
            {% if form.offset is defined %}
                {{ form_widget(form.offset, {'attr':{'style':'width: 50px'}}) }}
            {% endif %}
        </td>
        <td>{% if form.unit is defined %}{{ form_widget(form.unit) }}{% endif %}</td>
        <td class="valueString">{% if form.valueString is defined %}{{ form_widget(form.valueString) }}{% endif %}</td>
        <td class="valueBlob">{% if form.valueBlob is defined %}{{ form_widget(form.valueBlob) }}{% endif %}</td>
        <td class="valueInteger">{% if form.valueInteger is defined %}{{ form_widget(form.valueInteger) }}{% endif %}</td>
        <td class="valueUnsigned">{% if form.valueUnsigned is defined %}{{ form_widget(form.valueUnsigned) }}{% endif %}</td>
        <td class="valueBool">{% if form.valueBool is defined %} {{  form_widget(form.valueBool) }} {{ form_label(form.valueBool) }} {% endif %}</td>
        <td class="globalValue">{{ form_widget(form.linkedToGlobalParameter) }}</td>
        <td class="dynamicValue">{{ form_widget(form.dynamicParameterValuesByDiagnosticSoftware) }}</td>
{#        <td class="cocValue">{{ form_widget(form.linkedToCocParameter) }}</td>#}
        <td class="linkingType">{% if form.linkingType is defined %}{{ form_widget(form.linkingType)  }} {{ form_widget(form.copySts) }}{% endif %}</td>
        <td>{{ form_widget(form.startBit) }}</td>
        <td>{{ form_widget(form.stopBit) }}</td>
        <td class="centerColumn">
            {% set allowAdd = form.type.vars.value in nonAddableParameters %}
            {% set allowRemove = form.type.vars.value in nonRemovableParameters %}
            <a href="#" class="collection-add btn btn-default{{ allowAdd ? ' hideAction' : '' }}"
               title="{{ 'ecu.sw.partials.form.odx2.twig.formTheme.addParameter' | trans }}"><i class="fas fa-plus"></i></a>
            <a href="#" class="collection-remove btn btn-default{{ allowRemove ? ' hideAction' : '' }}"
               title="{{ 'ecu.sw.partials.form.odx2.twig.formTheme.removeParameter' | trans }}"><i class="fas fa-minus"></i></a>
        </td>
    </tr>
{% endblock %}

{% block Odx2ParameteType_label %}{% endblock %}

{% block stylesheets %}
    <style>
        .valueBool input{
            vertical-align: middle;
            margin-top: 0;
        }
    </style>
{% endblock %}
